.App {
  padding: 5rem;
  display: flex;
  margin: 0 auto;
  width: 100%
}

.Header {
  position: fixed;
  top: 0;
}

.text  {
  display: flex;
  flex-direction: column;
}

.box input {
  float: right;
}

.table-wrapper {
  text-align: center;
}
